/* Estilos para o componente de footer */
.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.toolbar-primary {
  background-color: #1976d2; /* Cor primária do Angular Material */
  color: white; /* Cor do texto */
}
